<%= render "shared/header.html.erb", title: "level 1"%>

<header class="header">
	<h1 class="logo"><a href="../level0/1"><img src="https://s3.ap-northeast-2.amazonaws.com/www.fundinglab.ga/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
			<li class="level1_nav on"><a href="#">1级</a></li>
			<li class="level2_nav"><a href="#">2级</a></li>
			<li class="level3_nav" ><a href="#">3级</a></li>
			<li class="level4_nav"><a href="#" >4级</a></li>
			<li class="level5_nav"><a href="#">5级</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-4">
	<header class="content-title">
		<h1><%= @level1.title %></h1>
		<small><%= @level1.description %></small>
	</header>
	<div class="content">

    <figure class="visual-top">
      <img src="<%= @level1.image %>" alt="" />
      <figcaption>
    		<%= simple_format(@level1.main_description) %>
      </figcaption>
    </figure>

    <ul class="card-image">
		 <% if @level1&.components.present? %>
			<% @level1&.components.each do |component| %>
				<li>
	        <div class="inner">
	          <h4><%= component.title %></h4>
	          <a href="../level2/<%= component.level2_id %>" class="bt-small reverse more"><%= @level1.button %></a>
	        </div>
	        <img src="<%= component.image %>" alt="" class="card-bg" />
	      </li>
			<% end %>
		<% end %>
    </ul>
	</div>
</div>
<%= link_to navigation_index_path, class: 'bt-nav' do %>
	MENU
	<span class="icon"><i>아이콘</i></span>
<% end %>
