<%= render "shared/header.html.erb", title: "level 2"%>

<header class="header">
	<h1 class="logo"><a href="../level0/1"><img src="https://s3.ap-northeast-2.amazonaws.com/www.fundinglab.ga/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
			<li class="level1_nav"><%= link_to level1_path(@level1_id) do %>1级<% end %></li>
			<li class="level2_nav on"><a href="#">2级</a></li>
			<li class="level3_nav" ><a href="#">3级</a></li>
			<li class="level4_nav"><a href="#" >4级</a></li>
			<li class="level5_nav"><a href="#">5级</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-5">
	<header class="content-title">
		<h1><%= @level2.main_title %></h1>
		<small><%= @level2.sub_title %></small>
	</header>
	<div class="content">

    <div class="card-wrap">
			<% @level2.systems.each do |system| %>
	      <section class="card-box">
	        <h1><span><%= system.title %></span> <%= system.sub_title %></h1>
	        <div class="item-image">
	          <img src="<%= system.main_image %>" alt="" />
	        </div>
	        <div class="cont">
						<%= system.description %>
	        </div>
	        <div class="btn-group">
	          <a href="<%='../level3/' + system.level3_id.to_s %>" class="bt-large more"><%= system.button %></a>
	        </div>
	      </section>
			<% end %>
    </div>
	<% if @level2.title.present? && @level2.description.present?%>
    <div class="engine-exp">
      <div class="item-image">
        <img src="<%= @level2.main_image %>" alt="" />
      </div>
      <dl>
        <dt><%= @level2.title %></dt>
        <dd class="cont">
        	<%= @level2.description %>
        </dd>
      </dl>
    </div>
	<% end %>
	</div>
</div>
<%= link_to navigation_index_path, class: 'bt-nav' do %>
	MENU
	<span class="icon"><i>아이콘</i></span>
<% end %>
