<%= render "shared/header.html.erb", title: "level 5"%>

<header class="header">
	<h1 class="logo"><a href="/level0"><img src="https://s3.ap-northeast-2.amazonaws.com/www.fundinglab.ga/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li><a href="../level0/1">Lv 0</a></li>
      <li><a href="#">Lv 1</a></li>
			<li><a href="#">Lv 2</a></li>
			<li><a href="#">Lv 3</a></li>
			<li><a href="#">Lv 4</a></li>
			<li class="on"><a href="#">Lv 5</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-2">
	<header class="content-title">
		<h1><b><%= @level5.main_title %></b> <%= @level5.sub_title %></h1>
		<small><%= @level5.description %></small>
		<div class="btn-group">
			<a href="#none" class="bt-large reverse more"><%= @level5.first_button %></a>
			<a href="#none" class="bt-large reverse more"><%= @level5.second_button %></a>
		</div>
	</header>
	<div class="content">

    <div class="feature-box feature01">
      <div class="item-image">
  			<iframe width="500px" height="500px" src="<%= @level5.main_image %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="keyword">
				<%= simple_format(@level5.awards) %>
      </div>
      <div class="exp">
				<%= simple_format(@level5.main_description) %>
      </div>
      <div class="date">
      	<p><%= @level5.date %></p>
      </div>
    </div>

		<div class="feature-box feature02">
			<h2 class="title"><%= @level5.installation %><small><%= @level5.installation_small_title %></small></h2>
			<div class="cont">
				<img src="<%= @level5.installation_image %>" alt="" />
			</div>
    </div>

		<div class="feature-box feature03">
      <h2 class="title"><%= @level5.feature %><small><%= @level5.feature_small_title %></small></h2>
      <div class="cont">
				<img src="<%= @level5.feature_image1 %>" alt="" />
				<img src="<%= @level5.feature_image2 %>" alt="" />
				<img src="<%= @level5.feature_image3 %>" alt="" />
      </div>
      <dl>
        <dt><%= @level5.performance_title %></dt>
        <dd>
					<%= simple_format(@level5.performance_detail) %>
        </dd>
      </dl>
    </div>

		<div class="feature-box feature04">
			<h2 class="title"><%= @level5.comparison_title %></h2>
			<div class="cont">
        <img src="<%= @level5.comparison_image %>" alt="" />
      </div>
    </div>

		<div class="feature-box feature05">
      <h2 class="title"><%= @level5.interview_title %></h2>
      <div class="person">
				<% @level5.interviewers.each do |interviewer| %>
					<figure>
						<img src="<%= interviewer.image %>" alt="" />
						<figcaption><%= interviewer.position %> <b><%= interviewer.name %></b></figcaption>
					</figure>
				<% end %>
      </div>
      <h3><%= @level5.interview_main_title %></h3>
      <div class="cont">
				<%= simple_format(@level5.interview_detail) %>
      </div>
      <div class="video-box">
        <iframe width="100%" height="auto" src="<%= @level5.youtube_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
		</div>
	</div>
</div>
