<%= render "shared/header.html.erb", title: "hyundai kepico"%>

<header class="header">
	<h1 class="logo"><a href="../level0/0"><img src="/images/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li class="level0_nav on"><button href="level0">0级</button></li>
			<li class="level1_nav">
				<button href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">1级</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% @level1.each do |level1| %>
							<%= link_to level1.title, level1_path(level1.id), class: "dropdown-item", id:"btn-id" %>
					<% end %>
				</div>
			</li>
			<li class="level2_nav">
				<button href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">2级</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% @level2.each do |level2| %>
							<%= link_to level2.title, level2_path(level2.id), class: "dropdown-item", id:"btn-id" %>
					<% end %>
				</div>
			</li>
			<li class="level3_nav">
				<button href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="dropdownMenuLink">
					3级
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% @level3.each do |level3| %>
							<%= link_to level3.title, level3_path(level3.id), class: "dropdown-item", id:"btn-id" %>
					<% end %>
				</div>
			</li>
			<li class="level4_nav">
				<button href="#"class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="dropdownMenuLink">
					4级
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% @level4.each do |level4| %>
							<%= link_to level4.title, level4_path(level4.id), class: "dropdown-item", id:"btn-id" %>
					<% end %>
				</div>
			</li>
			<li class="level5_nav">
				<button href="#"class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="dropdownMenuLink">
					5级
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<% @level5.each do |level5| %>
							<%= link_to level5.title, level5_path(level5.id), class: "dropdown-item", id:"btn-id" %>
					<% end %>
				</div>
			</li>
		</ul>
	</nav>
</header>
<div class="content-group level-0">
	<div class="content">
    <header class="content-title">
      <h1><%= @level0.name %> <b><%= @level0.bold_name %></b></h1>
      <!-- 디자인에서 현대 하모니 폰트 사용
        :: 해당 폰트 스타일 때문에 폰트 파일을 추가하는 건 효율이 떨어진다고 생각해서 최대한 비슷한 폰트로 구현
        :: 디자인과 동일하게 진행하고 싶으면 아래 이미지 텍스트 사용하시면 됩니다
      <h1><img src="images/title-hyundai-font.png" alt="Hyundai KEFICO" /></h1>
      -->
      <small><%= @level0.title %></small>
    </header>
    <div class="intro worth">
      <div class="inner">
        <dl class="worth-1">
          <dt><%= @level0.first_title %></dt>
          <dd>
						<%= simple_format(@level0.first_description) %>
          </dd>
        </dl>
        <dl class="worth-2">
          <dt><%= @level0.second_title %></dt>
          <dd>
						<%= simple_format(@level0.second_description) %>
          </dd>
        </dl>
        <dl class="worth-3">
          <dt><%= @level0.third_title %></dt>
          <dd>
						<%= simple_format(@level0.third_description) %>
          </dd>
        </dl>
      </div>
    </div>
    <div class="intro tech">
      <div class="inner">
			<% if @level0&.tech_intros.present? %>
				<% @level0.tech_intros.each do | tech_intro | %>
	        <section class="tech-box">
	          <div class="dv"><span></span></div>
	          <h2><%= tech_intro.title %></h2>
	          <figure><img src="<%= tech_intro.image %>" alt="" /></figure>
	          <h3><%= tech_intro.sub_title %></h3>
	          <div class="exp">
	      			<%= simple_format(tech_intro.description) %>
	          </div>
	        </section>
				<% end %>
			<% end %>
      </div>
    </div>
		<ul class="card-image">
		 <% if @level0&.tech_components.present? %>
			<% @level0&.tech_components.each do |tech_component| %>
				<li>
					<div class="inner">
						<h4><%= tech_component.title %></h4>
						<a href="../level1/<%= tech_component.level1_id %>" class="bt-small reverse more"><%= @level0.button %></a>
					</div>
					<img src="<%= tech_component.image %>" alt="" class="card-bg" />
				</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>
	<% current_route = request.original_url%>
	<%= link_to navigation_index_path(current_route: current_route), class: 'bt-nav' do %>
		菜单
		<span class="icon"><i>아이콘</i></span>
	<% end %>
